
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
.logotipo{
    width: 150px;
    padding: 1px 0px;
}
.iconos-redes-header{
    width: 20px;
    margin: 10px;
}
.banner-video{
    background-image: url("../imagenes/home/video-bg.jpg");
    padding: 200px 0;
    position: relative;
    text-align: center;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.btn-light{
    color: #fff;
    background-color: transparent;
    border-color: #f8f9fa;
    border: 2px solid #fff;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner-video .play{
    width: 80px;
    height: 80px;
    position: relative;
}
.altura-a-b{
    padding: 100px 0;
}
footer{
    background-color: black;
    padding: 100px 0;
    text-align: center;
}
footer .logotipo-footer{
    width:  200px;
    margin-bottom: 20px;
}
footer p{
    color: white;
    font-size: 14px;
}